.fa-fire {
	color: #8FCD16 !important;
}

.jumbotron {
	background-image: url("images/mountain-header.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	margin-bottom: 0px !important;
}

.btn {
	background-color: #8FCD16 !important;
	border-radius: 300px !important;
	border-color: #8FCD16 !important;
}

.row3 {
	background-color: #232323;
} 

.row2, .row9 {
	background-color: #8FCD16;
}

.fas {
	color: white;
	position: center;
}

.img-circle {
	border-radius: 50%;
}


.btn-lg {
	padding: 15px 30px;
}

.btn-default {
	border-color: #fff !important;
	background-color: #fff !important;
}

.btn-primary {
	border-color: ;
}

.img-responsive {
	height: 35vh;
}

.row4 
{
	background-color: #222;
}

.promo {
	text-align: center;
	color: white;
}

.item-1 {
	background-image: url("images/writing.jpg");
	
}
.item-2 {
	background-image: url("images/concert.jpg");
}

.item-3 {
	background-image: url("procrastinate.jpg");
}

