.jumbotron {
	background-image: url("images/mountain-header.jpg");
	background-size: cover;
	height: 100vh;
}

.row2 {
	margin-top: 45%;
}
.row2, .row9 {
	background-color: #8FCD16;
}

.btn {
	background-color: #8FCD16 !important;
}
